<section class="info_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_menu">
          <h5>LIENS RAPIDES</h5>
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">• Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'course' %}">• Cours</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'a_propos' %}">• À propos</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">• Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_course">
          <h5>NOS PROGRAMMES</h5>
          <p>• Visioconférences interactives<br>• Quiz et évaluations<br>• Suivi de progression<br>• Ressources PDF &
            Vidéos<br>• Badges & Certifications</p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="info_news">
          <h5>CONTACTEZ-NOUS</h5>
          <div class="info_contact">
            <a href="mailto:awessogeorges01@gmail.com">• 📧 awessogeorges01@gmail.com</a>
            <a href="mailto:achille.banadjuba7@gmail.com">• 📧 achille.banadjuba7@gmail.com</a>
            <a href="tel:+22890443504">• 📞 +228 90 44 35 04</a>
            <a href="tel:+22893558668">• 📞 +228 93 55 86 68</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="container-fluid footer_section text-center py-3">
  <p class="m-0">&copy; 2026 Tous droits réservés par OpenEduVerse</p>
</footer>