{% extends 'base.html' %}
{% load static %}

{% block hero_content %}
<section class="slider_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="detail-box">
          <h1>ÉDUCATION DE <span>QUALITÉ</span></h1>
          <div class="description-card">
            <p>
              <i class="fas fa-magic" style="color: #fec913; margin-right: 10px;"></i>
              Rejoignez la révolution numérique et transformez votre avenir avec des formations certifiantes de haut niveau.
            </p>
          </div>
          <div class="btn-box">
            <a href="{% url 'course' %}" class="btn-yellow-glass">Explorer les cours</a>
            <a href="{% url 'a_propos' %}" class="btn-green-glass">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img_container">
          <div class="img-box b1"><img src="{% static 'images/a-1.jpg' %}" alt="" class="img-fluid" /></div>
          <div class="img-box b2" style="margin-top: -50px; margin-left: 50px;"><img src="{% static 'images/a-2.jpg' %}" alt="" class="img-fluid" /></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h2>À propos d'OpenEduVerse</h2>
          <p>
            Nous offrons un environnement d'apprentissage conçu pour aider les étudiants à réaliser leur plein
            potentiel grâce à des ressources modernes, des suivis personnalisés et une flexibilité totale.
          </p>
          <a href="{% url 'a_propos' %}" class="btn-yellow-glass">Découvrir notre mission</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="login_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <h3 style="color: #133e3f; font-weight: bold;">ACCÉDEZ À DES COURS GRATUITS</h3>
          <p>
            Créez votre compte dès aujourd'hui et rejoignez une communauté d'apprenants passionnés. Accédez à des centaines de ressources pédagogiques sans frais.
          </p>
          {% if user.is_authenticated %}
          <a href="{% url 'dashboard' %}">Mon tableau de bord</a>
          {% else %}
          <a href="{% url 'register' %}" class="btn-yellow-glass">S'inscrire gratuitement</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="{% static 'images/event-img.jpg' %}" alt="E-learning" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}